/* remove padding body*/
#body {
    padding: 0;
    margin: 0;
}

/* Background color top Navbar */
.topnav {
    background-color: rgb(51, 4, 54);
    overflow: hidden;
    padding: 0;
    margin: 0;
    border-radius: 25px;
}

/* Style links in top Navbar */
.topnav a {
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 15px;
} 

/* Style links in top Navbar while hover */ 
.topnav a:hover {
    background-color: whitesmoke;
    color: black;
}

/* Style links in top Navbar while cliked or active */ 
.topnav a.active {
    background-color: rgb(19, 17, 32);
    color: white;
}

/* container css */
.container {
    display: flex;
}

/* leftSide css */
#leftSide {
    flex: 1;
    background-color: rgb(57, 5, 61);
}

#profilePicture {
    height: 250px;
    width: 250px;
    border-radius: 150px;
    margin-left: 50px;
    margin-top: 50px;
}

/* rightSide css */
#rightSide {
    flex: 4;
    background-color: whitesmoke;
}

/* style aboutMe section */
.aboutMe {
    display: flex;
    text-align-last: center;
}
.idkYet {
    flex: 1;
    border-right: 8px solid black;
    border-radius: 5px;
}
.hobbies {
    flex: 1;
    border-right: 8px solid black;
    border-radius: 5px;
}
.skills {
    flex: 1;
}

/* style WhatICanDo section */
.whatICanDo {
    display: flex;
}

#htmlAndCss {
    border-right: 8px solid black;
    border-radius: 10px;
    flex : 1;
}

#wordpress {
    flex: 1;
}

/* style WhatIWannaDo section */
.whatIWannaDo {
    
}

/* style footer */
.footer {
    
}

#logoGmail {
    flex: 1;
    width: 100px;
}

#logoLinkedin {
    flex: 1;
    width: 100px;
}

#logoTwitter {
    flex: 1;
    width: 100px;
}