/* remove padding body*/
#body {s
    padding: 0;
    margin: 0;
}

/* Background color top Navbar */
.topnav {
    background-color: rgb(57, 5, 61);
    overflow: hidden;
    padding: 0;
    margin: 0;
}

/* Style links in top Navbar */
.topnav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 17px;
} 

/* Socials top Navbar on the right side */

.navbar2 a {
    float: right;
}

/* Style links in top Navbar while hover */ 
.topnav a:hover {
    background-color: whitesmoke;
    color: black;
}

/* Style links in top Navbar while cliked or active */ 
.topnav a.active {
    background-color: rgb(19, 17, 32);
    color: white;
}

/* style whoIAm section */

.whoIAm {
    background-color: green;
}

/* style WhatICanDo section */

.whatICanDo {
    background-color: grey;
}

/* style WhatIWannaDo section */

.whatIWannaDo {
    background-color: mediumorchid;
}

/* style endPage */

.endPage {
    background-color: powderblue;
}