/* remove padding body*/
#body {s
    padding: 0;
    margin: 0;
}

/* Background color top Navbar */
.topnav {
    background-color: rgb(57, 5, 61);
    overflow: hidden;
    padding: 0;
    margin: 0;
}

/* Style links in top Navbar */
.topnav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 17px;
} 

/* Style links in top Navbar while hover */ 
.topnav a:hover {
    background-color: whitesmoke;
    color: black;
}

/* Style links in top Navbar while cliked or active */ 
.topnav a.active {
    background-color: rgb(19, 17, 32);
    color: white;
}

/* Socials top Navbar on the right side */

.navbar2 a {
    float: right;
}

/* style whoIAm section */

.whoIAm {
    background-color: rgb(19, 17, 32);
    display: flex;
    text-align-last: center;
}
.identity {
    flex: 1;
    border-right: 8px solid black;
    border-radius: 5px;
}
.hobbies {
    flex: 1;
    border-right: 8px solid black;
    border-radius: 5px;
}
.skills {
    flex: 1;
}

/* style WhatICanDo section */

.whatICanDo {
    background-color: grey;
    display: flex;
}

#htmlAndCss {
    border-right: 8px solid black;
    border-radius: 10px;
    flex : 1;
}

#wordpress {
    flex: 1;
}

#javascript {
    
}

/* style WhatIWannaDo section */

.whatIWannaDo {
    background-color: mediumorchid;
}

/* style endPage */

.endPage {
    background-color: powderblue;
}